.logo-text{
    width: 100px
}

.bi{
    margin: 0 10px 0 0;
}

.story{
    width: 100%;
    height: 60px;
    background-color: #eee;
    margin-bottom: 20px;
}

.label {
  display: none
}

.menu-item:hover .label {
  display: inline-block;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  
}



