.profile-img {

  width: 130px;
  height: 130px;
  border-radius: 50%;

}


.highlight-circle {

  width: 70px;
  height: 70px;

  border-radius: 50%;

  border: 2px solid gray;

  display: flex;
  align-items: center;
  justify-content: center;

}

.highlight-text {

  font-size: small;

}


.profile-tabs {

  border-bottom: 1px solid #333;

}



.camera-circle {

  width: 70px;
  height: 70px;

  border-radius: 50%;

  border: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: center;

}



.share-your-first-photo {

  color: #0f18c7;

}

.share-your-first-photo:hover {

  text-decoration: underline;
  cursor: pointer;

}


.base-text {

  color: #747070;
  font-size: x-small;

}

.base-text:hover {

  text-decoration: underline;
  cursor: pointer;

}
