.suggestions {
  width: 330px;
  padding: 15px;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
}

/* HEADER */
.suggestions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.suggestions-title {
  font-weight: 525;
  color: black;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}

.see-all {
  color: black;
  font-weight: 600;
  cursor: pointer;
  font-size: 12px;
}

.suggestion-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
  
}

.suggestion-left {
  display: flex;
  align-items: center;
  gap: 12px;
}


.suggestion-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}


.suggestion-name {
  font-size: 14px;
  font-weight: 500;
}


.follow-button {
  background-color: transparent;
  border: none;
  color: #3143E3;
  font-weight: 600;
  cursor: pointer;
  font-size: 13px;
}

.suggestion-reason {
  font-size: 12px;
  color: gray;
}

.profile-mini {
  margin-bottom: 15px;
}

.switch-button {
  border: none;
  background: none;
  color: #3143E3;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}